/* ===================================================================
 * O mnie
 * ------------------------------------------------------------------- */
.s-about {
    background-color: var(--color-bg);
    text-align: center;
}

.about-content, .about-content-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.about-content {
    text-align: left;
}

.profile-image, .profile-img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-image {
    max-width: 300px;
    margin-bottom: 3rem;
}

.profile-img {
    max-width: 250px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto 30px;
}

.about-content-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.profile-img-container {
    flex: 0 0 220px;
    text-align: center;
}

.about-text {
    flex: 1 1 400px;
}

@media (max-width: 768px) {
    .about-content-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        text-align: left;
    }
}